nav{
    background-color: #6da9ed;
    margin-bottom: 10px;
}

nav ul{
    list-style: none; /*eliminar viñeta del ul*/
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 20%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 6px 0;
    display: block;
}

nav ul li a.activo{
     background-color: #4c76a5;
}

nav ul li a:hover{ /*cuando la manito va arriba del boton*/
    background-color: #4c76a5;
}
